*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  background: 
    linear-gradient(to bottom, #1e5799 0%,
    #207cca 25%,#207cca 35%,#2989d8 58%,#7db9e8 100%);
}
#window{
  width: 100vw;
  background: #eee;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.token.selector,
.token.punctuation,
.token.property,
.token.atrule,
.token.function{
  color: black;
}
.cssCode{
  height: 100%;
  overflow: auto;
}
@keyframes breath{
  0%{ box-shadow: 0 0 10px rgba(0,0,0,1) },
  100%{ box-shadow: 0 0 10px rgba(0,0,0,0.2) }
}

.content{
  padding: 16px;
  background: white;
  height: 100%;
}
.markdown-body{
  padding: 16px;
  background: white;
  height: 100%;
  overflow: auto;
}
.markdown-body>h1{
  padding-bottom: 0.3em;
  margin-bottom: 16px;
  border-bottom: 1px solid #eaecef
}
.markdown-body>p{
  margin-bottom: 16px;
}
.markdown-body>ul,
.markdown-body>ol{
  padding-left: 2em;
  margin-bottom: 16px;
}